<div class="body">
  <div class="row">
    <div class="col col-4">
      <div class="" style="width: 100%;">
        <table class="table" border="1">
          <thead>
            <tr>
              <th>Correo</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarios">
              <td>{{usuario.email}}</td>
              <td>{{usuario.name}}</td>
              <td>{{usuario.lastname}}</td>
              <td>
                <button type="button" class="btn btn-primary" (click)="usuarioEditar(usuario.email, usuario.rol)">Editar Permisos</button>
              </td>
            </tr>
<!--
            <tr >
              <td>Richard</td>
              <td>Acevedo</td>
              <td>
                <button type="button" class="btn btn-primary" (click)="usuarioEditar(1)"><i class="bi bi-pencil">Editar Usuario</i></button>
              </td>
            </tr> -->

          </tbody>
        </table>
      </div>
        </div>
  </div>
</div>
